.form-block {
    position: relative;
}

.question-button {
    position: absolute;
    right: 10px;
    top: 0.5vw;
    width: 2.5vw;
    border-radius: 1.5vw;
    border: 3px solid rgb(76, 161, 230) ;
    background: none;
    cursor: pointer;
    
    font-family: "Book Antiqua", serif;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    color: rgb(76, 161, 230);
}

.question-button:hover {
    border: 3px dashed rgb(6, 122, 216) ;
    color: rgb(6, 122, 216);
    /*text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 3.5px;*/
}

.question-button:active {
    border: 3px groove rgb(14, 96, 163) ;
    color: rgb(14, 96, 163);
}

/*стили модального окна-подсказки для страниц калькулятора*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 0.2s ease-in; 
    -moz-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in; /* анимация перехода */
    pointer-events: none; /* окно невидимо для событий мыши */
    margin: 0;
    padding: 0;
    z-index: 10;
}

.modal:target {
    opacity: 1; /* делаем модальное окно видимым убирая прозрачность */
	pointer-events: auto; /* делаем окно видимым для событий мыши */
    overflow-y: auto; /* устанавливаем прокрутку по y, для случая, когда не помещается весь на страницу */
}

/* свойства ширины и отступов для самоко окна*/
.modal-dialog {
    position: relative;
    width: auto;
    margin: 5px;
    margin-top: 30px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}

.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.modal-maintext {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.modal-maintext>h3 {
    padding: 10px;
    padding-top: 20px;
}

.calculator-box {
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 20px;
    background-color: #E0E0E0;
    border: 2px solid #000000;
}
  
.skill-box {
    margin: 0 auto;
    width: 30%;
    min-width: 420px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 280px 1fr;
    justify-content: space-between;
    align-items: center;
}
  
.diceroll-box {
    margin: 0 auto;
    width: 30%;
    min-width: 420px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 280px;
    row-gap: 30px;
    align-items: center;
    
    justify-content: center;
}

.throwingdistance-box {
    margin: 0 auto;
    width: 40%;
    padding-bottom: 30px;
}

.throwingdistance-box--result {
    padding-top: 30px;
}
  
.modifiers-box--double {
    margin: 0 auto;
    width: 40%;
    min-width: 600px;
    padding: 0 0 30px 0;
    display: grid;
    grid-template-columns: 365px auto 55px;
    gap: 40px;
    row-gap: 30px;
    justify-content: space-between;
    grid-template-areas: "distance distcount distspeedoutput"
                          "speed speedcount distspeedoutput";
}
  
.modifiers-box--single {
    margin: 0 auto;
    width: 40%;
    min-width: 600px;
    padding: 0 0 30px 0;
    display: grid;
    grid-template-columns: 365px auto 55px;
    gap: 40px;
    justify-content: space-between;
}
  
.distance {
    grid-area: distance;
}
  
.distcount {
    grid-area: distcount;
}
  
.speed {
    grid-area: speed;
}
  
.speedcount {
    grid-area: speedcount;
}
  
.distspeedoutput {
    grid-area: distspeedoutput;
}
  
input {
    width: 100%;
    max-width: 100px;
    min-height: 28px;
    padding: 0;
    padding-left: 6px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #DAE4ED;
    justify-self: end;
}
  
.input-style--doublemodifier {
    text-align: center;
    padding: 0;
    margin: 16px 0 16px 0;
    border: 1px solid #527055;
}
  
.input-style--singlemodifier {
    text-align: center;
    padding: 0;
    border: 1px solid #527055;
}
  
.gridcontainer-allhitzones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    padding-bottom: 30px;
    width: 60%;
    margin: 0 auto;
}
  
.gridcontainer-hitzone {
    display: grid;
    grid-template-columns: 26px 2fr 1fr;
    column-gap: 30px;
    max-width: 313px;
    height: 36px;
    align-items: center;
    padding-bottom: 10px;
}

.gridcontainer-modulebuttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
    margin: 0 auto;
}
  
button {
    padding: 0;
}

.success-button:hover {
    border: 2px dashed black;
    cursor: pointer;
}

.success-button:active {
    border: 2px groove black;
    background-color: gray;
}

.module-button {
    min-height: 100%;
    border: 4px double #F8BE24;
    background-color: #527055;
    cursor: pointer;
}

.module-button:hover {
    border: 4px ridge #F8BE24;
}

.module-button:active {
    border: 4px groove #F8BE24;
    text-shadow: 2px 2px 2px black;
}

.calculator-box > h2 {
    text-align: center;
    text-shadow: none;
    margin-top: 30px;
    padding-bottom: 30px;
}

.calculator-box > h2.borderedtop-subtitle{
    border-top: 2px solid black;
    padding-top: 30px;
    margin-top: 0;
}

.borderedbottom-block {
    border-bottom: 2px solid black;
}

.textblock-center {
    text-align: center;
}

/* модуль контактных атак */

.gridcontainer-contactmodifiers {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    padding-bottom: 30px;
    width: 80%;
    margin: 0 auto;
    row-gap: 30px;
}

.gridcontainer-contactmodifiers--checkbox {
    margin: 0 auto;
    width: 60%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    align-items: center;
    column-gap: 0px;
}

/* Стили для тега select в модуле "Контактные атаки" */

.select-css { 
    display: block;
    font-size: 16px; 
    font-family: sans-serif; 
    font-weight: 700; 
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .9em;
    width: 50%; 
    max-width: 100%; 
    box-sizing: border-box; 
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     background-color: #fff; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
} 

.select-css::-ms-expand { display: none; }

.select-css:hover { border-color: #888; }

.select-css:focus { 
    border-color: #aaa; 
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring; 
    color: #222;
    outline: none; 
}

.select-css option { font-weight:normal; } 

*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
    background-position: left .7em top 50%, 0 0; 
    padding: .6em .8em .5em 1.4em; 
}

/* стиль для вторичного select (мелкие модификаторы одном из модулей страницы "Калькулятор") */
.small-select {
    font-size: 120%;
    width: 100%;
}

@media screen and (max-width: 1370px) {
    .calculator-box {
        margin-left: 8vw;
        margin-right: 8vw;
        border-radius: 20px;
        background-color: #E0E0E0;
        border: 2px solid #000000;
    }

    .question-button {
        position: absolute;
        right: 20px;
        top: 2vw;
        width: 4vw;
        border-radius: 2vw;
        border: 3px solid rgb(76, 161, 230) ;
        background: none;
        
        font-family: "Book Antiqua", serif;
        font-weight: bold;
        font-size: 2vw;
        text-align: center;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        color: rgb(76, 161, 230);
    }
}

@media screen and (max-width: 920px){
    
    /*Правило для изменения последовательсноти отображения кнопок переключения между модулями страницы "калькулятор"*/
    .gridcontainer-modulebuttons {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 770px){
    .skill-box {
        margin: 0 auto;
        width: 70%;
        min-width: 100px;
        grid-template-columns: 1fr 60px;
        column-gap: 10px;
    }

    .gridcontainer-allhitzones {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin: 0 auto;
    }

    .gridcontainer-hitzone {
        display: grid;
        grid-template-columns: 26px auto 20px;
        column-gap: 30px;
        max-width: 500px;
    }

    .modifiers-box--double {
        width: 80%;
        min-width: 100px;
        grid-template-columns: 200px auto 40px;
        gap: 15px;

        grid-template-areas: "distance distcount distspeedoutput"
                              "speed speedcount distspeedoutput";
    }
      
    .modifiers-box--single {
        width: 80%;
        min-width: 100px;
        grid-template-columns: 200px auto 40px;
        gap: 15px;
        justify-content: space-between;
    }

    .question-button {
        width: 5vw;
        font-size: 4vw;
        right: 10px;
    }
}

@media (max-width: 580px) {
    .calculator-box {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .diceroll-box {
        width: 40%;
        min-width: 220px;
    }

    .modifiers-box--double {
        grid-template-columns: 170px auto 40px;
        gap: 10px;
    }

    .modifiers-box--single {
        grid-template-columns: 170px auto 40px;
        gap: 10px;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        max-width: 50%;
        margin: 30px auto;
    }
}