.image-style--mainimage {
  display: block;
  padding: 0;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}

.image-style--imageinblockbook {
  align-self: center;
  height: 292px;
  max-width: 100%;
  border-radius: 32px;
}

.image-style--imageinblockdices {
  align-self: center;
  height: 292px;
  max-width: 100%;
  border-radius: 32px;
}

.image-style--imagenearpointsfantasy {
  height: 490px;
  max-width: 100%;
  border-radius: 32px;
  padding-left: 10px;
  align-self: center;
}

.image-style--imagenearpointslist {
  height: 490px;
  max-width: 100%;
  border-radius: 32px;
  padding-left: 10px;
  align-self: center;
}

.image-style--imagenearpointsbook {
  height: 490px;
  max-width: 100%;
  border-radius: 32px;
  padding-left: 10px;
  align-self: center;
}

.image-style--penimage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18vw;
}

.image-style--cofeeimage {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 28vw;
}

.image-style--d20_diceimage {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 168px;
  width: 8.8vw;
  margin-bottom: 16vw;
}

@media screen and (max-width: 1370px) {
  .image-style--mainimage {
    width: 80%;
  }
  
  .image-style--imagenearpoints {
    height: 245px;
    max-width: 100%;
    border-radius: 32px;
    padding-left: 10px;
    align-self: center;
  }

  .image-style--imageinblockdices {
    align-self: center;
    height: 146px;
    max-width: 100%;
    border-radius: 16px;
  }

  .image-style--imagenearpointsfantasy {
    height: 34vw;
    max-width: 100%;
    border-radius: 32px;
    padding-left: 10px;
    align-self: center;
  }
  
  .image-style--imagenearpointslist {
    height: 34vw;
    max-width: 100%;
    border-radius: 32px;
    padding-left: 10px;
    align-self: center;
  }
  
  .image-style--imagenearpointsbook {
    height: 245px;
    max-width: 100%;
    border-radius: 32px;
    padding-left: 10px;
    align-self: center;
  }
}

@media screen and (max-width: 1125px) {
  .image-style--imagenearpointsfantasy {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .image-style--imageinblockdices, .image-style--imageinblockbook, .image-style--imagenearpointslist, .image-style--imagenearpointsbook {
    display: none;
  }

  .image-style--mainimage {
    width: 90%;
  }
}