.text-style--headings {
  font-weight: bold;
  font-family: "Book Antiqua", serif;
  /*font-size: 38px;*/
  font-size: 2vw;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}

.text-style--dropdownheadings {
  font-weight: bold;
  font-family: "Book Antiqua", serif;
  font-size: 1.6vw;
  /*font-size: 32px;*/
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  padding-bottom: 18px;
}

.last-dropdownheadings {
  padding-bottom: 0px;
  padding-top: 18px;
}

.bordered {
  border-bottom: 2px solid black;
}

.text-style--title {
  font-size: 48px;
  line-height: 57px;
  font-weight: bold;
  font-family: "Book Antiqua", serif;
  text-align: left;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.text-style--subtitle {
  font-size: 36px;
  line-height: 43px;
  font-weight: bold;
  font-style: italic;
  font-family: "Book Antiqua", serif;
  text-align: left;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  padding-bottom: 15px;
  vertical-align: middle;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 3.5px;
}

.text-style--subtitle.nopadding {
  padding: 0;
}

.text-style--maintext {
  font-family: "Book Antiqua", serif;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.text-style--mainimage_title {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: bold;
  font-family: "Book Antiqua", serif;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.text-style--mainimage_text {
  margin: 0;
  font-family: "Book Antiqua", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  color: #C5A5A5;
}

.text-style--buttontext {
  font-family: "Book Antiqua", serif;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 5px;
}

.text-style--modulebuttons {
  font-family: "Book Antiqua", serif;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 5px;
  color: #F8BE24;
}

.text-style--footertext {
  font-family: "Book Antiqua", serif;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Стили для элементов на странице калькулятор*/

.text-style--paragraphzonemodifier {
  font-family: "Book Antiqua", serif;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  text-align: end;
}

.text-style--checkboxlabel {
  font-family: "Book Antiqua", serif;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.text-style--attackercondition {
  font-size: 30px;
  line-height: 43px;
  font-weight: bold;
  font-style: italic;
  font-family: "Book Antiqua", serif;
  text-align: center;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.text-style--closebutton {
  float: right;
  font-family: "Book Antiqua", serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  opacity: 0.5;
  text-decoration: none;
}

.text-style--closebutton:hover {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 3.5px;
}

.text-style--closebutton:active {
  opacity: 1;
}

.text-style--modalWindowparagraph {
  font-family: "Book Antiqua", serif;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  white-space: pre-line;
  border: none;
  padding: 0 10px;
}

.text-style--hamburgerheadings {
  display: block;
  text-decoration: none;
  padding: 12px 0px;
  font-family: 'Book Antiqua', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.text-style--hamburgerheadings:hover {
  background-color: lightgray;
}

@media screen and (max-width: 920px) {
  .text-style--mainimage_title {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24px;
  }

  .text-style--mainimage_text {
    font-size: 18px;
  }
}

@media screen and (max-width: 748px){
  .text-style--title {
    font-size: 32px;
  }

  .text-style--subtitle {
    font-size: 28px;
  }
}

@media screen and (max-width: 420px){
  .text-style--hamburgerheadings {
    font-size: 16px;
  }
}